node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store


*.plist

breezy.js

google_key2.js

firekey2.js

firedata2.js
location.js
breezy_key.js